body {
    background: url('pexels-rafael-guajardo-604684.jpg');
    color: white;
    margin: 0;
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}

.logo-toilets img {
    height: 13vh;
    width: 14vh;
}

.navbar {
    width: 90%;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    padding-right: 4px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.title-index {
    text-align: center;
    font-size: 100%;
    filter: brightness(1.75);
    align-items: center;
}

.title-index h1 {
    font-size: 60px;
    text-shadow: rgb(3, 109, 121) 15px 0 25px;
}

.title-index img {
    width: 8%;
    filter: drop-shadow(10px 5px 5px rgb(3, 109, 121));
}

.explication {
    text-align: center;
    padding: 50px;
}

.youtube iframe {
    border: 4px solid white;
    width: 100%;
    height: "auto";
    margin: 0;
}